---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Project EGAF"
	description="Everyone deserves to have fiction about their favorite fandom"
>
	<p>Project EGAF (Everyone Gets A Fandom) has set itself the goal to get every fandom on <abbr title="Archive Of Our Own">AO3</abbr> to have more than 1 work.</p>
	<p>We want to achieve this goal by making identifying works easier, and organizing them in a way that could help inspire people to write. This includes comprehensive lists, and short descriptions of fandoms to help put a face to the name.</p>
	<h2>Special thanks:</h2>
	<ul>
		<li><a href="https://archiveofourown.org/users/destinationtoast/pseuds/toastystats">Destination Toast for their tireless efforts in gathering, analyzing, and sharing their insights on various stats about and around fan fiction</a></li>
		<li><a href="https://astro.build">Astro js for their easy to use framework and various products, including (but not limited to) Astro DB.</a></li>
		<li>Mrs. Reid for inspiring me to be a writer and consistently holding me to a higher standard.</li>
	</ul>
</Layout>
