---
import Layout from '../layouts/Layout.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<Layout>
	<h1>Welcome to Project: Everyone Gets A Fandom!</h1>
	<p>This project was inspired by the shocking statistic that <a href="https://archiveofourown.org/works/53218846">A whopping 33% of fandoms on <abbr title="Archive of Our Own">AO3</abbr> only have 1 work.</a> The goal of Project EGAF is to reduce that number down to 0%.</p>
</Layout>