---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h1>This page isn't ready yet... How did you get here?</h1>
    <!--form method="POST">
        <label for="id">Work ID</label>
        <input id="id" name="id" />
        <input type="submit" value="Get Work">
    </form>
    <form action="POST">

    </form-->
</Layout>
<script>
    import { actions } from 'astro:actions';
    import { db, Works } from 'astro:db';

    const form = document.querySelector<HTMLFormElement>('form')!;
    

</script>